
.Footer {
  height: 300px;
  padding-top: 30px;
  background-color: black;
}

.Footer>.Contact>p {
  color: white;
  font-size: 12pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Footer>.Contact>p>span>i {
  margin-right: 10px;
}

.Contact>h4 {
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
}

.Contact {
  padding-top: 50px;
}

.Contact>.Last::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #40307A;
  border-radius: 5px;
  transform-origin: center;
  transform: scaleX(1);
  margin-top: 50px;
  left: 25%;
}

.Footer>.SM-icons {
  text-align: center;
  margin-top: 50px;
}

.fa-facebook, .fa-instagram, .fa-twitter {
  font-size: 30pt;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.fab:hover {
  color: blue;
}
