.Card, .Lists-cards img, .playlist-img {
    max-width: 200px;
  }
    
.Card {
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}
    
.Card:hover {
  background-color: rgba(1, 12, 63, 0.8);
  box-shadow: 0 4px 2px 3px #000000;
}
    
.Card-body {
  text-align: center;
  margin-top: 10px;
  max-height: 250px;
  overflow: scroll;
}

.Card-body>p {
  font-size: 14pt;
  margin: 10px 0;
}
    
.Playlist-btn {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}
    
.Playlist-btn:hover {
  background-color: rgba(108, 65, 233, .7);
}

.modal-content {
  display: flex;
}